@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: #282f44;
  margin-top: 3.3rem;
  height: 100%;
}
button {
  box-shadow: inset 0px 1px 0px 0px #bee2f9;
  background: linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
  background-color: #63b8ee;
  border-radius: 15px;
  border: 1px solid #3866a3;
  display: inline-block;
  cursor: pointer;
  color: #14396a;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #7cacde;
}
button:hover {
  background: linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
  background-color: #468ccf;
}
button:active {
  position: relative;
  top: 1px;
}
.imagembg {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-repeat: repeat;
  background-position: 100% 100%;
  filter: hue-rotate(165deg) opacity(15%);
  z-index: -1;
}
main {
  min-height: 100%;  
  margin-bottom: 3rem;  
}
.footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #191d32;
  height: 3rem;
  margin-top: calc(100% + 15px);
  align-items: center;
  gap: 1rem;
  padding-left: 20px;
  padding-right: 20px;
  color: #7a7a7a;
}
.nav {
  background-color: #191d32;
  position: fixed;
  font-family: "Syncopate", sans-serif;
  height: 3rem;
  width: 100%;
  top: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-left: 20px;
  padding-right: 20px;
}
.nav .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .lista {
  list-style: none;
  margin-left: 5rem;
}
.nav a {
  color: #7a7a7a;
  font-size: 1.7rem;
}
.nav a:hover {
  color: rgb(217, 217, 233);
  transition: 0.4s;
  text-shadow: 0 0 10px rgb(133, 122, 235);
}
.categorias {
  font-size: 0.8rem;
}
.nav .hamburger {
  display: none;
}
.nav .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #7a7a7a;
}

@media only screen and (max-width: 1024px) {
  .nav .menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #191d32;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .nav .menu.active {
    left: 0;
  }
  .nav .lista {
    margin: 0.5rem 0;
  }
  .nav .hamburger {
    display: block;
    cursor: pointer;
  }
}
