@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap');

*
{
  margin: 0px;
  padding: 0px;
  text-decoration: none; 
}
body
{
  font-family: sans-serif;
  background-color: #282f44;
}
main
{
  margin-top: 3.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.catalogo
{
  display: flex;
  flex-wrap: wrap;
}
.miniatura
{
  margin-left: 10px;
  margin-top: 10px;
}
.miniatura a
{
  color: #7a7a7a;
  font-size: 0.8rem;
}
.miniatura .titulo
{
  display: flex;
  gap: 5px;
  align-items: center;
}
.miniatura .titulo img
{
  width: 35px;
}
form
{
  display: flex;
  flex-direction: column;
}
form label
{
  color: #f2f2f2;
  font-size: 1.5rem;
}
form input
{
  font-size: 1rem;
  background-color: #282f44;
  color: #f1f1f1;
}
#imgBg
{
  max-height: 400px;
  max-width: auto;
}
.nav
{
    background-color: #191D32;
    position: fixed;
    font-family: 'Syncopate', sans-serif;
    height: 3rem;
    width: 100%;
    top: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    gap: 4rem;
    padding-left: 20px;
    padding-right: 20px;
}
.nav a
{
    color: #7a7a7a;
    font-size: 1.7rem;
}
.nav a:hover
{
    color: rgb(0, 0, 156);
    transition: 0.4s;
    text-shadow: 0 0 10px #fff;
}

#detalhes{ 
  display: flex;    
}
