.detalhes
{
  display: flex;
  flex-direction: column;
}
.detalhes .tituloDetalhes
{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  font-size: 1.5rem;
  color: white;
}
.detalhes #imgBg
{
  max-width: auto;
}
.detalhes #imgThumb
{
  width: 100px;
  height: auto;
}
#imagembg {
  background-size: cover;
  filter: hue-rotate(165deg) opacity(15%);
  height: max-content;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}