<nav class="footer">
    <h6>A estrutura deste site foi feita para fins educacionais. O conteúdo é livre para edição, sendo de responsabilidade de quem os cadastra.</h6>
    <h5>Projeto BlueFlix @ Blue Edtech 2021</h5>
</nav>