<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/estilo.css">
    <title><%= titulo %></title>
</head>
<body>
    <header>
        <div>
            <%- include('nav.ejs') %>
        </div>        
    </header>
    <main>
        <img src="https://occ-0-1313-1123.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABSAvZbGqC8L4WRNCcNdjXPb9wiFCtqFzrtmKd2Molz-LXOdb4Gl42KvH3bfENEas7_vdXApaFS5uQWuLgzxoiKtxkgd9.webp?r=ae9" alt="">
    </main>
    <footer>

    </footer>
</body>
</html>