
<style>
    @import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@800&display=swap');

    .nav {
        position: static;
        font-family: 'Gemunu Libre', sans-serif;
        font-size: large;
        top: 0px;
        background-color:#191D32;
        height: 50px;  
        width: 100%;
        margin: 0px;
        display: flex;
        gap: 10px;
             
    }

    body {
        background-color: #282F44;
    }
</style>

<nav class="nav">
    <h2><a href="/">Início</a></h2>
    <h2><a href="/cadastro">Cadastro</a></h2>
    <h2><a href="/editar">Editar</a></h2>
    <h2><a href="/deletar">Deletar</a></h2>
    <h2><a href="/teste">Teste</a></h2>
    <h2><a href="/cadastro">Cadastro</a></h2>
</nav>