<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilo.css">
</head>

<<<<<<< HEAD
<body>   
    <nav class="nav">       
        

=======
<body>
    <nav class="nav">
>>>>>>> 8a164466806c5778dd7d1515b3a3435d153da6c0
        <h2 class="home"><a href="/">BLUEFLIX</a></h2>

        <h2 class="novo"><a href="/cadastro">Novo</a></h2>

    </nav>
</body>

</html>