<nav>
    <h2><a href="/">Início</a></h2>
    <h2><a href="/cadastro">Cadastro</a></h2>
    <h2><a href="/editar">Editar</a></h2>
    <h2><a href="/deletar">Deletar</a></h2>
    <h2><a href="/teste">Teste</a></h2>
    <h2><a href="/cadastro">Cadastro</a></h2>
</nav>