<nav>
    <ul>
        <li><a href="/">Início</a></li>
        <li><a href="/cadastro">Cadastro</a></li>
        <li><a href="/editar">Editar</a></li>
        <li><a href="/deletar">Deletar</a></li>
        <li><a href="/teste">Teste</a></li>
    </ul>
</nav>